<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <!-- fontawesome icon css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title id="title">Cool Catt</title>
  </head>
  <body id="body">
    <h1 class="h" id="head">
        <i class="letter" style="--i:1">I</i>
        &nbsp;
        <i class="letter" style="--i:-1">A</i>
        <i class="letter" style="--i:2">M</i>
        &nbsp;
        <i class="letter" style="--i:-2">A</i>
        &nbsp;
        <i class="letter" style="--i:3">C</i>
        <i class="letter" style="--i:-3">O</i>
        <i class="letter" style="--i:4">O</i>
        <i class="letter" style="--i:-4">L</i>
        &nbsp;
        <i class="letter" style="--i:5">C</i>
        <i class="letter" style="--i:-5">A</i>
        <i class="letter" style="--i:6">T</i>
        <i class="letter" style="--i:-6">T</i>
    </h1>
    <img id="img" src="05c3ba05f3.jpg" alt="I am a cool catt" />
    <a id="getimg" href="/image">Get Image</a>
    <form action="/" method="post" id="hide" class="hide" style="display: none;">
      <input id="text" type="text" class="text" name="key" />
      <button type="submit" class="submit" value="" id="sub">
        <i class="d fa fa-solid fa-paper-plane"></i>
      </button>
    </form>
    <script src="index.js"></script>
  </body>
</html>
