<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solution</title>
  </head>
  <body>
    <h1>Here is your solution</h1>
    <button onclick="const vid = document.getElementById('video');vid.style.display='block';vid.src= ['solution.mp4','solution2.mp4'][Math.round(Math.random())];vid.play()">
      Get Solution
    </button>
    <p>
      <video
        id="video"
        autoplay
        src="solution.mp4"
        style="display: none"
      ></video>
    </p>
  </body>
</html>
